.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: var(--b365-gray-900);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: var(--radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    border: 1px solid white;
    transition: all var(--duration-normal);
    box-shadow: var(--shadow-md);
}

.scroll-to-top:hover {
    background-color: var(--b365-gray-500);
    transform: translateY(-3px);
}

.arrow-up {
    font-size: 24px;
    font-weight: bold;
}
