.site-header {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.clearance-banner {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: var(--radius-md);
    width: fit-content;
    margin: 1rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: var(--shadow-sm);
}

.logo {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: #000;
    text-transform: uppercase;
    margin-top: 1rem;
}
